@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the root and body are full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Make sure the map container div expands */
.map-container {
  height: 100%;
}
